---
const {
  title = 'ねれ | Portfolio',
  description = 'ねれのポートフォリオ',
} = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="theme-color" content="#ffffff" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <slot name="head" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600&display=swap" rel="stylesheet">
  </head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
@import "../styles/base.css";
</style>
